/* stylelint-disable */


.p-datepicker {
  padding: 0.75rem;
  background: #ffffff;
  border: none;
  border-radius: 8px;
}

.p-datepicker:not(.p-datepicker-inline) {
  background: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.06), 0px 16px 32px rgba(0, 0, 0, 0.2);;
}

.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  background: #ffffff;
}

.p-datepicker .p-datepicker-header {
  padding: 0 0.5rem 0.5rem 0.5rem;
  color: #000000;
  background: var(--color-white);
  font-weight: 600;
  margin: 0;
  border-bottom: 0 none;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  width: 2rem;
  height: 2rem;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  @apply text-gray-600 rounded-md
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-next:enabled:hover {
  border-color: transparent;
  @apply text-gray-600 bg-black-5;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-datepicker .p-datepicker-header .p-datepicker-title {
  line-height: 2rem;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-link {
  @apply font-semi-bold text-lg rounded-md;
}

.p-datepicker .p-datepicker-header .p-datepicker-title select {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-datepicker .p-datepicker-header .p-datepicker-title select:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  margin-right: 0.5rem;
}

.p-datepicker table {
  font-size: 1rem;
  margin: 0;
}

.p-datepicker table th {
  padding: 0.5rem;
}

.p-datepicker table th > span {
  width: 2rem;
  height: 2rem;
  @apply text-gray-600 text-base
}

.p-datepicker table td {
  padding: 1px;
}

.p-datepicker table td > span {
  width: 2rem;
  height: 2rem;
  @apply rounded-md;
}

.p-datepicker table td > span.p-highlight {
  @apply bg-key-50 text-black;
}

.p-datepicker table td > span.p-highlight:hover {
  @apply bg-key-100;
}

.p-datepicker table td > span:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-datepicker table tbody td.p-datepicker-today > span {
  border-radius: 6px;
  @apply font-semi-bold bg-black-5;
}

.p-datepicker table td.p-datepicker-today > span.p-highlight {
  @apply font-bold bg-key-50 text-black;
}
.p-datepicker table td.p-datepicker-today > span.p-highlight:hover {
  @apply bg-key-100;
}

.p-datepicker .p-datepicker-buttonbar {
  padding: 1rem 0;
  border-top: 1px solid #edebe9;
}

.p-datepicker .p-datepicker-buttonbar .p-button {
  width: auto;
}

.p-datepicker .p-timepicker {
  border-top: 1px solid #edebe9;
  padding: 0.5rem;
}

.p-datepicker .p-timepicker button {
  width: 2rem;
  height: 2rem;
  color: #605e5c;
  border: 0 none;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-datepicker .p-timepicker button:enabled:hover {
  color: #605e5c;
  border-color: transparent;
  background: #f3f2f1;
}

.p-datepicker .p-timepicker button:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-datepicker .p-timepicker button:last-child {
  margin-top: 0.2em;
}

.p-datepicker .p-timepicker span {
  font-size: 1.25rem;
}

.p-datepicker .p-timepicker > div {
  padding: 0 0.5rem;
}

.p-datepicker.p-datepicker-timeonly .p-timepicker {
  border-top: 0 none;
}

.p-datepicker .p-monthpicker {
  margin: 0;
}

.p-datepicker .p-monthpicker .p-monthpicker-month {
  padding: 1px;
  @apply rounded-md;
}

.p-datepicker .p-monthpicker .p-monthpicker-month.p-highlight {
  outline: none;
  @apply bg-key-500 text-white font-semi-bold;
}

.p-datepicker.p-datepicker-multiple-month .p-datepicker-group {
  border-right: 1px solid #edebe9;
  padding: 0 0.75rem 0;
}

.p-datepicker.p-datepicker-multiple-month .p-datepicker-group:first-child {
  padding-left: 0;
}

.p-datepicker.p-datepicker-multiple-month .p-datepicker-group:last-child {
  padding-right: 0;
  border-right: 0 none;
}

.p-datepicker .p-datepicker-decade {
  @apply text-lg
}

.p-datepicker .p-yearpicker {
  margin: 0;
}

.p-datepicker .p-yearpicker .p-yearpicker-year {
  padding: 0.5rem 0;
  @apply rounded-md;
}
.p-datepicker .p-yearpicker .p-yearpicker-year:hover {
  @apply bg-key-50;
}

.p-datepicker .p-yearpicker .p-yearpicker-year.p-highlight {
  outline: none;
  @apply bg-key-500 text-white font-semi-bold;
}

.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
  @apply bg-key-50;
}

.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-highlight):not(.p-disabled):hover {
  @apply bg-key-50;
}

.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-highlight):not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-datepicker-mask.p-component-overlay {
  background: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 769px) {
  .p-datepicker table th, .p-datepicker table td {
    padding: 0;
  }
}


//.p-datepicker .p-datepicker-header .p-datepicker-title {
//  order: 1;
//  margin: 0 auto 0 0;
//}
//
//.p-datepicker .p-datepicker-prev {
//  order: 2;
//}
//
//.p-datepicker .p-datepicker-prev .p-datepicker-prev-icon:before {
//  content: "";
//}
//
//.p-datepicker .p-datepicker-next {
//  order: 3;
//  font-size: 90%;
//}
//
//.p-datepicker .p-datepicker-next .p-datepicker-next-icon:before {
//  content: "";
//}

.p-datepicker .p-datepicker-buttonbar {
  border-top: 0 none;
  padding: 0.5rem 0;
}

.p-datepicker .p-datepicker-buttonbar .p-component.p-button {
 @apply text-key-500;
}

.p-datepicker .p-datepicker-buttonbar .p-component.p-button span {
  @apply font-bold;
}

.p-datepicker .p-datepicker-buttonbar .p-component.p-button:enabled:hover {
  @apply bg-key-50 text-key-500;
}

.p-datepicker .p-timepicker {
  border-top: 0 none;
}

.p-datepicker .p-timepicker span {
  font-size: 90%;
}

.p-datepicker .p-timepicker .pi-chevron-up:before {
  content: "";
}

.p-datepicker .p-timepicker .pi-chevron-down:before {
  content: "";
}

.p-datepicker table {
  font-size: 90%;
}

.p-datepicker table td.p-datepicker-today > span {
  border-radius: 50%;
}

.p-datepicker .p-datepicker-buttonbar .p-button {
  font-size: 90%;
  color: #000000;
}

.p-datepicker .p-datepicker-buttonbar .p-button .p-button-label {
  font-weight: 400;
}

.p-datepicker .p-datepicker-buttonbar .p-button:enabled:hover {
  color: #000000;
  background-color: #f3f2f1;
}

.p-datepicker .p-monthpicker .p-monthpicker-month {
  padding: 0.5rem 0;
}


.p-inputtext-block {
  .p-calendar {
    display: flex;
  }
}
