/* stylelint-disable */
.p-breadcrumb {
  background: var(--color-white);
  border: 1px solid #eeeeee;
  border-radius: 2px;
  padding: 1rem;
}

.p-breadcrumb ul li .p-menuitem-link {
  transition: box-shadow 0.2s;
  border-radius: 2px;
}

.p-breadcrumb ul li .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
}

.p-breadcrumb ul li.p-breadcrumb-chevron {
  margin: 0 0.5rem 0 0.5rem;
  color: #000000;
}

.p-breadcrumb ul li:last-child .p-menuitem-text {
  color: #000000;
}

.p-breadcrumb ul li:last-child .p-menuitem-icon {
}

.p-contextmenu {
  padding: 0;
  background: var(--color-white);
  color: #000000;
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  width: 12.5rem;
}

.p-contextmenu .p-menuitem-link {
  padding: 0.75rem 0.5rem;
  color: #000000;
  border-radius: 0;
  transition: box-shadow 0.2s;
  user-select: none;
}

.p-contextmenu .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-contextmenu .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.5rem;
}

.p-contextmenu .p-menuitem-link .p-submenu-icon {
}

.p-contextmenu .p-menuitem-link:not(.p-disabled):hover {
  background: var(--color-gray-50);
}

.p-contextmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #000000;
}

.p-contextmenu .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-contextmenu .p-submenu-list {
  padding: 0;
  background: var(--color-white);
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #edebe9;
}

.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-contextmenu .p-menu-separator {
  border-top: 1px solid #edebe9;
  margin: 0.25rem 0;
}

.p-contextmenu .p-submenu-icon {
  font-size: 0.875rem;
}

.p-megamenu {
  padding: 0.5rem;
  background: var(--color-white);
  color: #000000;
  border: 1px solid #eeeeee;
  border-radius: 2px;
}

.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link {
  padding: 0.75rem 0.5rem;
  color: #000000;
  border-radius: 2px;
  transition: box-shadow 0.2s;
  user-select: none;
}

.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.5rem;
}

.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon {
  margin-left: 0.5rem;
}

.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
  background: var(--color-gray-50);
}

.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #000000;
}

.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-megamenu .p-megamenu-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-megamenu .p-megamenu-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
  background: #edebe9;
}

.p-megamenu .p-megamenu-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
.p-megamenu
  .p-megamenu-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link:not(.p-disabled):hover
  .p-menuitem-text {
  color: #000000;
}

.p-megamenu .p-menuitem-link {
  padding: 0.75rem 0.5rem;
  color: #000000;
  border-radius: 0;
  transition: box-shadow 0.2s;
  user-select: none;
}

.p-megamenu .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-megamenu .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.5rem;
}

.p-megamenu .p-menuitem-link:not(.p-disabled):hover {
  background: var(--color-gray-50);
}

.p-megamenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #000000;
}

.p-megamenu .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-megamenu .p-megamenu-panel {
  background: var(--color-white);
  color: #000000;
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.p-megamenu .p-megamenu-submenu-header {
  margin: 0;
  padding: 0.75rem 0.5rem;
  background: var(--color-white);
  font-weight: 600;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.p-megamenu .p-megamenu-submenu {
  padding: 0;
  width: 12.5rem;
}

.p-megamenu .p-megamenu-submenu .p-menu-separator {
  border-top: 1px solid #edebe9;
  margin: 0.25rem 0;
}

.p-megamenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #edebe9;
}

.p-megamenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-megamenu.p-megamenu-vertical {
  width: 12.5rem;
  padding: 0;
}

.p-menu {
  @apply p-1 text-black rounded-none bg-white;

  &.p-menu-overlay {
    @apply rounded;
  }

  .p-menuitem {
    &.active {
      .p-menuitem-link {
        .p-menuitem-text {
          @apply text-black;
        }
      }
    }
    &.danger {
      .p-menuitem-link {
        &:hover {
          .p-menuitem-text {
            @apply text-danger-600;
          }
        }
      }
    }

    .p-menuitem-link {
      @apply py-2 px-3 text-base font-normal text-black;

      .p-menuitem-icon {
        @apply mr-0;
      }

      .p-menuitem-text {
        @apply text-black leading-5;
      }

      &:focus {
        @apply shadow-none;
      }

      &:hover {
        .p-menuitem-text {
          @apply text-black;
        }
      }
    }
  }
}

.p-menu .p-menuitem:hover  {
  @apply bg-gray-50 rounded;
}

.p-menu .p-menuitem-link .p-menuitem-text {
  line-height: 20px;
  color: var(--color-black);
}

.p-menu .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.75rem;
}

.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: var(--color-gray-50);
}

.p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: var(--color-black);
}

.p-menu .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-menu.p-menu-overlay {
  @apply bg-white shadow-popup-dialog border-none;
}

.p-menu .p-submenu-header {
  @apply px-3 py-2 text-sm text-gray-600 font-semi-bold;
}


.p-menu .p-menu-separator {
  border-top: 1px solid #edebe9;
  margin: 0.25rem 0;
}

.p-menubar {
  padding: 0.5rem;
  background: var(--color-white);
  color: #000000;
  border: 1px solid #eeeeee;
  border-radius: 2px;
}

.p-menubar .p-menuitem-link {
  padding: 0.75rem 0.5rem;
  color: #000000;
  border-radius: 0;
  transition: box-shadow 0.2s;
  user-select: none;
}

.p-menubar .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-menubar .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.5rem;
}

.p-menubar .p-menuitem-link:not(.p-disabled):hover {
  background: var(--color-gray-50);
}

.p-menubar .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #000000;
}

.p-menubar .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  padding: 0.75rem 0.5rem;
  color: #000000;
  border-radius: 2px;
  transition: box-shadow 0.2s;
  user-select: none;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.5rem;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon {
  margin-left: 0.5rem;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
  background: var(--color-gray-50);
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #000000;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
  background: #edebe9;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link:not(.p-disabled):hover
  .p-menuitem-text {
  color: #000000;
}

.p-menubar .p-submenu-list {
  padding: 0;
  background: var(--color-white);
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  width: 12.5rem;
}

.p-menubar .p-submenu-list .p-menu-separator {
  border-top: 1px solid #edebe9;
  margin: 0.25rem 0;
}

.p-menubar .p-submenu-list .p-submenu-icon {
  font-size: 0.875rem;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #edebe9;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

@media screen and (max-width: 960px) {
  .p-menubar {
    position: relative;
  }

  .p-menubar .p-menubar-button {
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 2px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  }

  .p-menubar .p-menubar-button:hover {
    background: var(--color-gray-50);
  }

  .p-menubar .p-menubar-button:focus {
    outline: 0 none;
    outline-offset: 0;
  }

  .p-menubar .p-menubar-root-list {
    position: absolute;
    display: none;
    padding: 0;
    background: var(--color-white);
    border: 0 none;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
  }

  .p-menubar .p-menubar-root-list .p-menu-separator {
    border-top: 1px solid #edebe9;
    margin: 0.25rem 0;
  }

  .p-menubar .p-menubar-root-list .p-submenu-icon {
    font-size: 0.875rem;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem {
    width: 100%;
    position: static;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    padding: 0.75rem 0.5rem;
    color: #000000;
    border-radius: 0;
    transition: box-shadow 0.2s;
    user-select: none;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: #000000;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
    margin-right: 0.5rem;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
    background: var(--color-gray-50);
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: #000000;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link > .p-submenu-icon {
    margin-left: auto;
    transition: transform 0.2s;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link > .p-submenu-icon {
    transform: rotate(-180deg);
  }

  .p-menubar .p-menubar-root-list .p-submenu-list {
    width: 100%;
    position: static;
    box-shadow: none;
    border: 0 none;
  }

  .p-menubar .p-menubar-root-list .p-submenu-list .p-submenu-icon {
    transition: transform 0.2s;
    transform: rotate(90deg);
  }

  .p-menubar .p-menubar-root-list .p-submenu-list .p-menuitem-active > .p-menuitem-link > .p-submenu-icon {
    transform: rotate(-90deg);
  }

  .p-menubar .p-menubar-root-list .p-menuitem {
    width: 100%;
    position: static;
  }

  .p-menubar .p-menubar-root-list ul li a {
    padding-left: 2.25rem;
  }

  .p-menubar .p-menubar-root-list ul li ul li a {
    padding-left: 3.75rem;
  }

  .p-menubar .p-menubar-root-list ul li ul li ul li a {
    padding-left: 5.25rem;
  }

  .p-menubar .p-menubar-root-list ul li ul li ul li ul li a {
    padding-left: 6.75rem;
  }

  .p-menubar .p-menubar-root-list ul li ul li ul li ul li ul li a {
    padding-left: 8.25rem;
  }

  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    z-index: 1;
  }
}

.p-panelmenu .p-panelmenu-header > a {
  padding: 1rem;
  border: 1px solid #a19f9d;
  color: #000000;
  background: #faf9f8;
  font-weight: 600;
  border-radius: 2px;
  transition: box-shadow 0.2s;
}

.p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon {
  margin-right: 0.5rem;
}

.p-panelmenu .p-panelmenu-header > a .p-menuitem-icon {
  margin-right: 0.5rem;
}

.p-panelmenu .p-panelmenu-header > a:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
  background: var(--color-gray-50);
  border-color: #a19f9d;
  color: #000000;
}

.p-panelmenu .p-panelmenu-header.p-highlight {
  margin-bottom: 0;
}

.p-panelmenu .p-panelmenu-header.p-highlight > a {
  background: #faf9f8;
  border-color: #a19f9d;
  color: #000000;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
  border-color: #a19f9d;
  background: var(--color-gray-50);
  color: #000000;
}

.p-panelmenu .p-panelmenu-content {
  padding: 0;
  border: 1px solid #a19f9d;
  background: var(--color-white);
  color: #000000;
  margin-bottom: 4px;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  padding: 0.75rem 0.5rem;
  color: #000000;
  border-radius: 0;
  transition: box-shadow 0.2s;
  user-select: none;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.5rem;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
  background: var(--color-gray-50);
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #000000;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-panelmenu-icon {
  margin-right: 0.5rem;
}

.p-panelmenu .p-panelmenu-content .p-submenu-list:not(.p-panelmenu-root-submenu) {
  padding: 0 0 0 1rem;
}

.p-panelmenu .p-panelmenu-panel {
  margin-bottom: 4px;
}

.p-steps .p-steps-item .p-menuitem-link {
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 2px;
  background: var(--color-white);
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  color: #000000;
  border: 1px solid var(--color-gray-50);
  background: var(--color-white);
  min-width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.143rem;
  z-index: 1;
  border-radius: 50%;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-title {
  margin-top: 0.5rem;
  color: #605e5c;
}

.p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  background: #edebe9;
  color: #000000;
}

.p-steps .p-steps-item.p-highlight .p-steps-title {
  font-weight: 600;
  color: #000000;
}

.p-steps .p-steps-item:before {
  content: ' ';
  border-top: 1px solid #edebe9;
  width: 100%;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
  margin-top: -1rem;
}

.p-tabmenu .p-tabmenu-nav {
  background: var(--color-white);
  border: 0 none;
  border-width: 0 0 2px 0;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
  margin-right: 0;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  border: solid #a19f9d;
  border-width: 0 0 2px 0;
  border-color: transparent transparent transparent transparent;
  background: var(--color-white);
  color: #605e5c;
  padding: 1rem;
  font-weight: 600;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  transition: box-shadow 0.2s;
  margin: 0 0.5rem -2px 0;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.5rem;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link {
  background: var(--color-gray-50);
  border-color: transparent;
  color: #605e5c;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background: var(--color-white);
  color: #000000;
}

.p-tieredmenu {
  padding: 0;
  background: var(--color-white);
  color: #000000;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  width: 12.5rem;
}

.p-tieredmenu .p-menuitem-link {
  padding: 0.75rem 0.5rem;
  color: #000000;
  border-radius: 0;
  transition: box-shadow 0.2s;
  user-select: none;
}

.p-tieredmenu .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-tieredmenu .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.5rem;
}

.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover {
  background: var(--color-gray-50);
}

.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #000000;
}

.p-tieredmenu .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-tieredmenu.p-tieredmenu-overlay {
  background: var(--color-white);
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.p-tieredmenu .p-submenu-list {
  padding: 0;
  background: var(--color-white);
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #edebe9;
}

.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: #000000;
}

.p-tieredmenu .p-menu-separator {
  border-top: 1px solid #edebe9;
  margin: 0.25rem 0;
}

.p-tieredmenu .p-submenu-icon {
  font-size: 0.875rem;
}
